/* 
font-family: 'Cabin Sketch', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Quantico', sans-serif;
font-family: 'Sirin Stencil', cursive; 
font-family: 'Righteous', cursive; 
*/


* {
  margin: 0;
}

:root {
  --side-bg-color: #ababab;
}

body {
  background-image: linear-gradient(0.25turn, var(--side-bg-color), white 50%, var(--side-bg-color));
  color: rgb(65, 52, 52);
  font-family: 'Cabin Sketch', cursive;
}

nav {
  background-color: rgb(167, 156, 156);
  font-family: 'Righteous', cursive;
  font-size: 3.75vmin;
}

nav a, nav ul a{
  color: rgb(65, 52, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  padding-left: 20px;
}

nav a i {
  padding-right: 10px;
}

.flex-container a {
  border: 1px solid #968A8A;
  padding: 4px;
  border-radius: 10px;
  color: #968A8A;
  font-family: 'Righteous', cursive;
  box-shadow: 2.5px 2.5px #c9b5b5;
}

.flex-container a:hover {
  background-color: #968A8A;
  color: white;
  box-shadow: 0.2px 0.2px #c9b5b5;
}

.flex-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 20px;
}

.image-container {
  max-width: 100%; 
  margin: auto;
  position:relative;
  margin-top: 10vmin;
}

.image-container::after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -webkit-linear-gradient(.5turn, var(--side-bg-color),rgba(255, 255, 255, 0.25) 50%, var(--side-bg-color));
}

h4 {
  font-size: 6vmin;
  padding-top: 2.5vmin;
  text-shadow: 2px 2px #c9b5b5;
  margin-bottom: 0px;
}

select {
  display: inline-block;
  height: 6vmin;
  width: 100%;
  padding: 0;
}

input[type=email]:not(.browser-default) {
  width: 60%;
  font-size: 12px;
  height: 1.5rem;
  margin-right: 6px;
  color: rgb(48, 48, 48);
}

input[type=text]:not(.browser-default) {
  height: 1.5rem;
}

.btn {
  font-size: 10px;
  height: 2vmin;
  padding: 5px;
  line-height: 0;
}

#back-btn {
  margin-top: 2vmin;
}

#game-btn {
  margin-bottom: 12px;
}

#grp-btn {
  margin-bottom: 17px;
  margin-top: 5px;
}

.delete-btn {
  background-color: rgb(213, 100, 100);
  margin-bottom: 4vmin;
  padding: 7px;
}

.delete-btn:hover {
  background-color: rgb(255, 0, 0);
}

.card .card-action {
  /* display: block; */
  padding: 14px;
  border: none;
}

.card .card-content {
  padding: 10px;
} 

#poll-container, #game-container, #group-container {
  display: block;
  margin: 0px 70px;
}

#delete-btn, .delete-btn {
  float: right;
}

#vote-form {
  margin: 0px 15px;
}

.vote-button {
  padding: 10px;
}

.green {
  padding: 8px;
  background-color: rgb(43, 198, 43);
} 

.red {
  padding: 8px;
  background-color: rgb(220, 51, 51);
}

#game-link, #group-link {
  color: #239889;
  background-color: rgba(255, 255, 255, 0.776);
  /* font-family: 'Righteous', cursive; */
  border: 1px solid #239889;
  box-shadow: 2.5px 2.5px #239889;
} 


#game-link:hover, #group-link:hover {
  background-color: #239889;
  color: rgba(255, 255, 255, 0.776);
  /* font-family: 'Righteous', cursive; */
  border: 1px solid #239889;
  box-shadow: 1px 1px #239889;
}

h5 {
  margin-top: 0;
}

div.card-content.white-text {
  padding: 10px 15px;
  padding-top: 10px;
}

#vote-input {
  width: 10%;
}

label {
  color: grey;
}

input[type=datetime-local]:not(.browser-default){
  height: 1.5rem;
  width: 70%;
  font-size: 12px;
}

input[type=number]:not(.browser-default) {
  height: 1.5rem;
}

.card .card-content .card-title  {
  margin: 0px;
}

div.green, div.red {
  padding-bottom: 4px;
}

.card label {
  color: white;
}

#timezone {
  width: 20%;
}

.calendar-button {
  background-color: rgb(62, 62, 222);
  padding: 8px;
}

.calendar-button:hover {
  background-color: blue;
}


@media only screen and (min-width: 768px) {
  select {
    display: inline-block;
    height: 4vmin;
    width: 80%;
    align-items: left;
  }

  input[type=text]:not(.browser-default) {
    width: 50%;
    font-size: 12px;
    height: 1.5rem;
    margin-right: 6px;
  }

  .delete-btn {
    background-color: rgb(213, 100, 100);
    margin-bottom: 4vmin;
  }

  #poll-container, #game-container, #group-container {
    display: flex;
  }

  .cards {
    margin: 10px;
  }
}