<%- include('../partials/header') %>

<div class="flex-container">
    <h4>Schedule your next gaming session with friends!</h3>
</div>
<br>
<div class="flex-container">
    <a href="/auth/google">SIGN IN</a>
</div>
<div class="flex-container image-container">
    <img src="/images/lego_pic_2.png" alt="">
</div>

</body>
</html>